@import "grid";
$color-blue:#00aeef;
$color-gris:#727272;
$color-gris-claro:#dfdfdf;
$color-rojo: red;
$h1-size:3vw;
$h2-size:2.8vw;
$h3-size:2.6vw;
$h4-size:2.4vw;
$h5-size:2.2vw;
$h6-size:2vw;
$top-50:50px;
$top-80:80px;
$top-160:160px;
$top-200:200px;
$right:right;


body{
  height: 50px;
  font-family: 'Roboto', sans-serif;
  color:$color-gris;
}
.menu_principal{
  height: 120px;
  color:#848484;
  vertical-align: middle;
  margin-right:15px;
  margin-top:-300px;
  text-decoration:none;
  padding:20px 10px;
}
.menu_principal:hover{
  color:#00aeef;
  background-color: $color-gris-claro;
}
#about{
  background-image:url(../img/404-bg.png);
  background-size: contain;
  height: 110px;
  color:#848484;
  margin-top:50px;
}

h1{
  font-size: $h1-size;
  font-weight: bold;
  margin:20px 0px;
}
h3{
  font-size: $h3-size;
  font-weight: bold;
  margin:20px 0px;
}
#montana{
  background-image:url(../img/home/slider-bg.png);
  background-repeat:no-repeat;
  background-size: contain;
  background-position: bottom;
  height: 350px;
  margin-top: 200px;
  p{
    font-size: 1.4vw;
    margin:40px 0px;
    text-align: justify;
  }
}
#signup{
  width: 150px;
  border:solid 3px $color-blue;
  background-color: white;
  color:$color-blue;
  height:100px;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  padding:10px;
  margin-top:60px;
}
#signup:hover{
    color:$color-gris;
    border-color:$color-gris;
  }
#slide-fdo{
  height: 350px;
  background-image: url(../img/home/slider/hill.png);
  background-repeat:no-repeat;
  background-size: contain;
  background-position: bottom;
}
#pajaros-izq{
  height: 80px;
  width:auto;
  background-image: url(../img/home/slider/birds1.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin:100px 0px 0px 30px;
}
#casa{
  height: 180px;
  width:auto;
  background-image: url(../img/home/slider/house.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin:8px 0px 0px 110px;
}
#pajaros-der{
  height: 80px;
  width:auto;
  background-image: url(../img/home/slider/birds2.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin:-280px 0px 0px 450px;
}
.center{
  text-align: center;
  align-items: center;
  align-content: center;
}
#handle{

  p{
      font-size: 1.4vw;
      margin:40px 0px;
    }
}
.fondo-triangulos{
  height: 150px;
  background-image:url(../img/404-bg.png);
  background-size: contain;
}
#take-bton{
  display: inline-block;
  width: 150px;
  border:solid 3px $color-blue;
  background-color: white;
  color:$color-blue;
  height:80px;
  border-radius: 10px;
  text-decoration: none;
  text-align: middle;
  padding:10px;
  margin-top:20px;
}
#take-bton:hover{
  color:$color-gris;
  border-color:$color-gris;
}
#bicicleta{
  margin-top: -10px;
}
.espacio-80{
  margin-top:$top-80;
  clear:both;
}
.right{
  align-items:$right;
  align-content: $right;
  text-align: $right;
}
.espacio-160{
  margin-top:$top-160;
  clear:both;
}
.espacio-200{
  margin-top:$top-200;
  clear:both;
}
.espacio-50{
  margin-top:$top-50;
  clear:both;
}
#image2{
  margin:80px 0px 0px 50px;
}
footer{
  background-image: url(../img/home/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 660px;
}
.img-cuadro-footer{
  float: left;
  margin-right: 15px;
}

.text-rojo-gde{
  font-size: 4vw;
  color: $color-rojo;
  line-height: 0.01vw;
}
.text-rojo-autor{
  margin-top: 10px;
  font-size: 1.5vw;
  color: $color-rojo;
  font-weight:lighter;
}
.text-rojo-med{
  color: $color-rojo;
}
#name{
  width: 80%;
  border-color: #eaeaea;
  border:solid;
  border-width: thin;
  padding: 15px;
  margin-bottom: 30px;
}
#mail{
  width: 80%;
  border-color: #eaeaea;
  border:solid;
  border-width: thin;
  padding: 15px;
  margin-bottom: 30px;
}
#btn-enviar{
  width: 80%;
  background-color: $color-blue;
  color:white;
  height:auto;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  padding:10px;
}
#btn-enviar:hover{
  width: 80%;
  background-color: $color-gris-claro;
  color:$color-blue;
  height:auto;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  padding:10px;
}

#textarea{
  width: 80%;
  border-color: #eaeaea;
  border:solid;
  border-width: thin;
  padding: 15px;
  margin-bottom: 30px;

}
.text-white{
  color:white;
}
.text-color-gris{
  color:$color-gris
}
.prueba-padding{
  padding: 0px 40px;
}
.img-100{
  width: 100%;
  height: auto;
}
.columnas-about{
  width: 15%;
  height: auto;
  margin: 0px 25px;
  display: inline-block;
}
.columnas-portfolio{
  width: 15%;
  height: auto;
  margin: 10px 30px;
  display: inline-block;
}
.submenu-portafolio{
  font-size: 1.2vw;
  padding: 5px 20px;
  display: inline-block;
}
